.breadcrumb-area {
    text-align: center;
    position: relative;
    padding: 110px 0;
    background: url(../images/breadcrumb-bg.jpg) no-repeat;
    background-size: cover;
}

.shop-pro {
    margin-top: 40px;
    .product {
        margin-top: 30px;
    }
}